---
layout: home
title: "KING(DOM)"
---
<div class="row justify-content-center align-items-center text-secondary">
  <span>Kevin's Internet Noise Garage (Database of Music)</span>
</div>
<div class="card mt-2 px-5 py-3 justify-content-center align-items-center">
  {% assign counter = 0 %}
  {% for post in paginator.posts %}
    {% assign remainder = counter | modulo: 4 %}
    {% if counter == 0 %}
      <div class="row">
    {% elsif remainder == 0 %}
      </div>
      <div class="row">
    {% endif %}
    <div class="col-sm px-1 pt-2 hv-image">
      <a href="{{ post.url }}" alt="{{ post.title }}" class="cover-img">
        {% assign image_partial = post.artist | append: post.album %}
        {% assign image_partial = image_partial | regex_replace: '(&amp;|[^0-9A-Za-z])', '' %}
        <img class="img-fluid" src="{{ "/assets/covers/" | relative_url }}{{ image_partial }}.jpg" alt="{{ post.title }}" />
      </a>
      <div class="hover-overlay">
        <div class="hover-text">
          {{ post.artist }}
          <br />- <br />
          {{ post.album}}
        </div>
      </div>
    </div>
    {% assign counter = counter | plus: 1 %}
  {% endfor %}
  </div>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination justify-content-center align-items-center my-4">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% endif %}

  <div class="px-3">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  </div>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% endif %}
</div>
{% endif %}
