<footer class="page-footer font-small mt-4">
  <div class="footer-copyright align-items-center py-3 text-secondary text-center font-italic">
    <span>Site &amp; Content &copy; <a href="https://kmagameguy.com" target="_blank">{{ site.author }}</a> {{ site.time | date: '%Y' }}.  Multimedia &copy; Their Respective Rights Holders.</span>
  </div>
  <script src="https://kit.fontawesome.com/08dd6b322a.js" crossorigin="anonymous"></script>
  <script src="/assets/scripts/jquery-3.6.0.slim.min.js"></script>
  <script src="/assets/scripts/popper.min.js"></script>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script src="/assets/scripts/bootstrap.min.js"></script>
  <script src={{ "/assets/scripts/cookie-banner.js" | relative_url }} crossorigin="anonymous"></script>
</footer>
