<meta charset="UTF-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="Kevin Aktug, Kevin, Aktug, Music, Blog">
<meta name="rating" content="general">
<meta name="expires" content="never">
<meta name="robots" content="index, follow">
<meta name="distribution" content="global">
<meta name="email" content="{{ site.email }}">
<meta name="publisher" content="{{ site.author }}">
<meta name="copyright" content="&copy; Copyright {{ site.time | date: '%Y' }} {{ site.author }}">

<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400">
