---
---

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .navbar {
  font-weight: 400;
}

.hv-image {
  position: relative;
  width: 50%;
}

.cover-img {
  border-radius: 0.2rem;
  display: block;
  width: 100%;
  height: auto;
}

.hover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  pointer-events: none;
  background-color: white;
}

.hv-image:hover .hover-overlay {
  opacity: 0.8;
}

.hover-text {
  font-weight: 400;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
