---
---

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-400.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .navbar {
  font-weight: 400;
}

blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.main-content {
  max-width: 850px;
}

.hv-image {
  position: relative;
  width: 50%;
}

.cover-img {
  border-radius: 0.2rem;
  display: block;
  width: 100%;
  height: auto;
}

.hover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  pointer-events: none;
  background-color: white;
}

.hv-image:hover .hover-overlay {
  opacity: 0.8;
}

.hover-text {
  font-weight: 400;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.flm-rating-text {
  color: #00969c;
}

.footer-copyright {
  font-size: 0.75rem;
}

.cookie-banner {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  border-radius: 0px;
  display: none;
}

#page-header {
  margin-bottom: 0.5rem;
}

#review-content #collapse-control.collapsed:after {
  content: '+ Show Full Review';
}

#review-content #collapse-control:not(.collapsed):after {
  content: '- Hide Review';
}

#review-content #collapsable-content.collapse:not(.show) {
  display: block;
  height: 4.5rem;
  overflow: hidden;
}

#review-content #collapsable-content.collapsing {
  height: 4.5rem;
}

#collapse-control {
  background-color: #00969c;
  color: #fff;
  min-width: 140px;
}
